<!doctype HTML>
<html>
  <head>
    <!-- this is how you comment in html -->
    <meta chatset="utf-8">
    <title>Cats</title>
  </head>
  <body>
    <header>All about cats</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/Ninjas">Ninjas Page</a>
      <a href="/Pirates">Pirates Page</a>
    </nav>
    <h1> my headlines </h1>
    <article>
      
      <img src="http://exmoorpet.com/wp-content/uploads/2012/08/cat.png">
      <img src="http://i.imgur.com/2IBjv1a.png">
      <img src="http://i.imgur.com/T0ykUP8.png">
      <img src="/images/beethoven.jpg">
      <iframe width="560" height="315" src="//www.youtube.com/embed/Kdgt1ZHkvnM" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small> (c) 2014 <strong>NSS <em>Cohort</em> 6 </strong> </small>
    </footer>
  </body>
<html>
