
<!doctype HTML>
<html>
  <head>
    <!-- this is how you comment in html -->
    <meta chatset="utf-8">
    <title>Dogs</title>
  </head>
  <body>
    <header>All about dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/Ninjas">Ninjas Page</a>
      <a href="/Pirates">Pirate Page</a>
    </nav>
    <h1> my headlines </h1>
    <article>
      
      <img src="http://www.audacious.me/media/W1siZiIsIjIwMTIvMDUvMjgvMTEvMzIvNDIvMTQ1L2Jvb19jdXRlc3RfZG9nX2V2ZXJfYmFubmVkX0luX2hvbGx5d29vZF8yNl82MjB4NDY0LmpwZyJdXQ?sha=18f55241">
      <img src="http://www.tehcute.com/pics/201109/corgi-puppy-on-a-couch.jpg">
      <img src="http://2.bp.blogspot.com/-wkwpLOit-KU/T5qO0gkoVjI/AAAAAAAAAQ4/M1dZ0JdStgo/s1600/pit-bull.jpg">
      <iframe width="560" height="315" src="//www.youtube.com/embed/If875wg22ps" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small> (c) 2014 <strong>NSS <em>Cohort</em> 6 </strong> </small>
    </footer>
  </body>
<html>
