<!doctype HTML>
<html>
  <head>
    <!-- this is how you comment in html -->
    <meta chatset="utf-8">
    <title>HTML/CSS Intro</title>
  </head>
  <body>
    <header>Main page</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/Ninjas">Ninjas Page</a>
      <a href="/Pirates">Pirates Page</a>
    </nav>
    <h1> my headlines </h1>
    <article>
      <h2>Article header</h2>
      <h1>Toy Story</h2>
      <p>Toy story is a really funny movie!</p>
      <img src="http://cdnvideo.dolimg.com/cdn_assets/5670999ffe25e4bd664bc9486adef5171a494e7f.jpg">
      <a href = "http://en.wikipedia.org/wiki/Toy_Story">Here is a link to the Toy Story wiki article </a>
      <iframe width="420" height="315" src="//www.youtube.com/embed/5G0j_Huv2Fg" frameborder="0" allowfullscreen></iframe>
      <p>this is my paragraph</p>
    </article>
    <footer>
      <small> (c) 2014 <strong>NSS <em>Cohort</em> 6 </strong> </small>
    </footer>
  </body>
<html>
