

<!doctype HTML>
<html>
  <head>
    <!-- this is how you comment in html -->
    <meta chatset="utf-8">
    <title>Ninjas</title>
  </head>
  <body>
    <header>All about ninjas</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dog Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/Ninjas">Ninjas Page</a>
      <a href="/Pirates">Pirates Page</a>
    </nav>
    <h1> my headlines </h1>
    <article>
      
      <img src="images/ninja1.jpg">
      <img src="images/ninja2.jpg">
      <img src="images/ninja3.jpg">
    </article>
    <footer>
      <small> (c) 2014 <strong>NSS <em>Cohort</em> 6 </strong> </small>
    </footer>
  </body>
<html>
